@import 'variables';

.header {
    color: $main-color;
    font-size: 3rem;
}
.footer {
    color: $sub-color;
    font-size: 2rem;
}
.body {
    color: $body-color;
    font-size: 2rem;
}
.item {
    margin: 30px 10px;
    border: solid 1px transparent;
    border-radius: 20px !important;
    overflow: hidden;
}
.menu {
    background-color: $green !important;
}
.footer-menu {
    color: $purple !important;
    background-color: $green !important;
}

.menu .navbar-brand,
.menu .nav-link {
    color: $orange !important;
}
.footer-menu .nav-link {
    color: $red;
}
.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}
.trash {
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.trash_icon,
.back_icon {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
a {
    text-decoration: none !important;
}
