<footer>
    <ul class='nav justify-content-center footer-menu'>
        <li class='nav-item'>
            <a class='nav-link active' aria-current='page' href='/home'>Home</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='#'>Contact Us</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' href='#'>Blog</a>
        </li>
        <li class='nav-item'>
            <a
                class='nav-link disabled'
                href='#'
                tabindex='-1'
                aria-disabled='true'
            >Products</a>
        </li>
    </ul>
</footer>